<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{Bond.company.legalName}} - CUSIP: {{Bond.data.cusip}}</h3>
  </div>

  <table ng-table="Bond.tableParams" class="table table-stripped">
    <tr ng-repeat="price in $data">
      <td data-title="'Date'" sortable="'timestamp'">{{price.timestamp | date:'medium'}}</td>
      <td data-title="'Price'" sortable="'price'">{{price.price}}</td>
    </tr>
  </table>
</div>
