<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Companies</h3>
  </div>

  <table class="table table-striped">
    <tr>
      <th>Legal Name</th>
      <th>Address</th>
      <th>Revenue</th>
      <th>Employees</th>
      <th>industry</th>
      <th></th>
    </tr>

    <tr ng-repeat="company in Companies.companies">
      <td>{{company.legalName}}</td>
      <td>{{company.address}}</td>
      <td>{{company.revenue | currency}}</td>
      <td>{{company.employees | number}}</td>
      <td>{{company.industry}}</td>
      <td>
        <a class="btn btn-default" ui-sref="company({companyId: company.companyId})">
          <span class="glyphicon glyphicon-search"></span>
        </a>
      </td>
    </tr>
  </table>
</div>

<div class="panel panel-info">
  <div class="panel-heading">Highest moving prices in the last {{Companies.bondsPeriod.toLowerCase()}}</div>

  <table class="table table-striped">
    <tr>
      <th>Company</th>
      <th>CUSIP</th>
      <th>Coupon rate</th>
      <th>Variation</th>
      <th>Last price</th>
      <th></th>
    </tr>

    <tr ng-repeat="bond in Companies.highestMoving">
      <td>{{bond.company.legalName}}</td>
      <td>{{bond.cusip}}</td>
      <td>{{bond.couponRate}}</td>
      <td>{{bond.variation}}</td>
      <td>{{bond.lastPrice}}</td>
      <td>
        <a ui-sref="bond({bondId: bond.id})" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>
        </a>
      </td>
    </tr>
  </table>

  <div class="panel-footer">
    <label class="radio-inline">
      <input type="radio" value="day" ng-model="Companies.bondsPeriod"> Day
    </label>
    <label class="radio-inline">
      <input type="radio" value="week" ng-model="Companies.bondsPeriod"> Week
    </label>
    <label class="radio-inline">
      <input type="radio" value="Month" ng-model="Companies.bondsPeriod"> Month
    </label>
  </div>
</div>
