<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{Company.data.legalName}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <dt>Address</dt>
          <dd>{{Company.data.address}}</dd>

          <dt>Revenue</dt>
          <dd>{{Company.data.revenue | currency}}</dd>
        </dl>
      </div>

      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <dt>Employees</dt>
          <dd>{{Company.data.employees | number}}</dd>

          <dt>Industry</dt>
          <dd>{{Company.data.industry}}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">Bonds</div>

  <table class="table table-striped">
    <tr>
      <th>CUSIP</th>
      <th>Coupon rate</th>
      <th>Last price</th>
      <th></th>
    </tr>

    <tr ng-repeat="bond in Company.bondsSummary track by bond.id">
      <td>{{bond.cusip}}</td>
      <td>{{bond.couponRate}}</td>
      <td>{{bond.lastPrice}}</td>
      <td>
        <a ui-sref="bond({bondId: bond.id})" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>
        </a>
      </td>
    </tr>
  </table>
</div>
